<div class="container">
	<form action="/proficiency/<%=@proficiency.id%>" method="POST">

<h3>Update Skill</h3>
<br><textarea name="name" placeholder="Name"><%=@proficiency.skill.name %> </textarea>
  </br> Context: <input type="radio" name="context" value="technical">Technical
      <input type="radio" name="context" value="creative">Creative
  <br>Years Experience: <textarea name="years" placeholder="Years Experience"><%=@proficiency.years_experience %></textarea></br>
  Do You Have Formal Education? 
  </br> <input type="radio" name="formal" value="true">Yes
<input type="radio" name="formal" value="false">No


  
  <input type="hidden" name="_method" value="patch">
  <br><input type="submit" value="submit!">

</form>

 <li> <a href="/delete/proficiency/<%=@proficiency.id%>"> Delete Skill</a> </li>

</div>