<div class="container">
  <h1>User Skills and Levels</h1>
  <% @users.each 

 <% @users.each do |user| %>
      <li><%= user.name %></li>
      <% user.proficiencies.each do |proficiency| %>
      	<li> Skill: <%= proficiency.skill %> </li>
      	<li> Years Experience: <%= proficiency.years_experience %> </li>
      	<li> Formally Educated? <%= proficiency.formal? %> </li>
      <%end%>
  <% end %>
</div>



  <ul>
    <li><a href="/sessions/new">Edit Your Skills</a></li>
    <li><a href="/users/new">Log Out</a></li>
  </ul>